<div class="row">
    <div class="col-md-12">
        <% flash.get('mensaje').forEach(function (msg) { %>
        <div class="alert alert-info text-center" role="alert">
            <%=msg%>
        </div>
        <% }) %>
    </div>

    <div class="col-md-6">
        <h2>Detalle Ordenes</h2>

        <table class="table table-hover">

            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total fotos</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td scope="row">
                        <%=orden.id%>
                    </td>
                    <td>
                        <%=orden.fecha%>
                    </td>
                    <td>
                        <%=orden.total%>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <h3>Fotos</h3>

    <% orden.detalles.forEach( detalle => { %>
    <div class="col-md-2 col-auto">
        <p>
            <img src="/images/fotos/<%=detalle.foto.contenido%>" alt="" class="wf-10">
        </p>
    </div>
    <% }) %>
</div>